<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<p class="lead mb-5">A Simple URL Shortner Application</p>
	
	<h5 class="mb-3">Shortened URLs</h5>

    <div th:if="${shortUrls.isEmpty()}" class="alert alert-warning">
        No records found.
    </div>
    <table th:if="${not shortUrls.isEmpty()}" class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Short Key</th>
                <th>Original URL</th>
                <th>Created </th>
                <th>Expires At</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="url : ${shortUrls}">
                <td th:text="${url.id}"></td>
                <td>
                    <a th:href="@{|/s/${url.shortkey}|}" th:text="${url.shortkey}" target="_blank" class="text-primary"></a>
                </td>
                 <td>
                    <a th:href="${url.originalUrl}" class="text-success" target="_blank"
                       th:text="${#strings.abbreviate(url.originalUrl, 50)}">
                    </a>
                </td>
                <td th:text="${#temporals.format(url.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${url.expiresAt != null ? #temporals.format(url.expiresAt, 'yyyy-MM-dd HH:mm:ss') : 'Never Expires'}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>