<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body class="bg-light d-flex align-items-center">
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-lg rounded-4">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Login</h4>
                        
                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            
                            <div th:if="${param.error}" class="alert alert-danger py-2">
                                Invalid username or password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success py-2">
                                You have been logged out.
                            </div>

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            
                            <div class="text-center mt-3">
    							<a th:href="@{/register}" class="text-decoration-none">Don't have an account? Register</a>
							</div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</body>
</html>